[Unit]
Description="Run powerwatcher.service every minute"
Requires=powerwatcher.service

[Timer]
OnUnitInactiveSec=5min

[Install]
WantedBy=timers.target
