[Unit]
Description="Run powerwatcher.service every minute"
Requires=powerwatcher.service

[Timer]
OnCalendar=*-*-* *:*:00

[Install]
WantedBy=timers.target
