[Unit]
Description="Run powerwatcher.service every minute"
Requires=powerwatcher.service

[Timer]
OnBootSec=1h # start 1h after boot to allow systems without the proper config to boot
OnUnitInactiveSec=2min

[Install]
WantedBy=timers.target
